.main0000 {
	.content0000 {
		.item-avatar {
			img {
				border-radius: 0px !important;
			}
			p {
				span {
					float: right;
				}
			}
		}
	}
	.menuLeft0000 {
		.item-avatar {
			img {
				border-radius: 0px !important;
			}
		}
	}
	.ionic-text {
		padding: 0px 5px;
	}
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}