<ion-list>
  <ion-item class="item" ng-click="selectActionDeleteSelections();">
  <span>Delete selections</span>
  </ion-item>
  <ion-item class="item" ng-click="selectActionMoveSelections();">
  <span>Move selections</span>
  </ion-item>
  <ion-item class="item" ng-click="selectActionCopySelections();">
  <span>Copy selections</span>
  </ion-item>
  <ion-item class="item" ng-click="selectActionNewFolder();">
  <span>New folder</span>
  </ion-item>
  <ion-item class="item" ng-click="selectActionNewFile();">
  <span>New file</span>
  </ion-item>
  <ion-item class="item" ng-click="selectActionSelectAll();">
  <span>Select All</span>
  </ion-item>
  <ion-item class="item" ng-click="selectActionDeselectAll();">
  <span>Deselect All</span>
  </ion-item>
  <ion-item class="item" ng-click="selectActionRename();">
  <span>Rename</span>
  </ion-item>
  <ion-item class="item" ng-click="selectActionRefresh();">
  <span>Refresh</span>
  </ion-item>
  <ion-item class="item" ng-click="selectActionAddBoomark();">
  <span>Add Bookmarks</span>
  </ion-item>
</ion-list>