<div class="modal">

	<ion-tabs class="tabs-positive ">
		<ion-tab title="Help" >
			<ion-header-bar class="bar-positive bar-positive" align-title="center">
				<button class="button button-icon icon ion-ios-undo-outline" ng-click="main.aboutModal.hide();"></button>
				<h1 class="title">Infomation</h1>
			</ion-header-bar>
			<!-- Tab 1 content -->
			<ion-content >
				<div class="card">
					<div class="item item-divider">Mô tả</div>
					<div class="item item-text-wrap">
						<div class="">
							<a class="item item-icon-left" href="#"> <i class="icon ion-ios-more"></i>
							</a>
						</div>
						<p>- Restart: khởi động lại ứng dụng</p>
						<p>- Refresh: làm mới lại màn hình</p>
						<div class="">
							<a class="item item-icon-left" href="#"> <i class="icon ion-ios-location-outline"></i>
							</a>
						</div>
						<p>
							- Đánh dấu một vị trí trên màn hình, nếu vị trí không như mong muốn có thể nhấn giữ vị trí và kéo thả đến nơi mong muốn.
						</p>
						<div class="">
							<a class="item item-icon-left" href="#">
								<i class="icon ion-android-locate"></i>
							</a>
						</div>
						<p>- Dùng để định vị GPS</p>
						<div class="">
							<a class="item item-icon-left" href="#">
								<i class="icon ion-ios-search"></i>
							</a>
						</div>
						<p>- Tìm địa điểm</p>
						<div class="">
							<a class="item item-icon-left" href="#">
								<i class="icon ion-compass"></i>
							</a>
						</div>
						<p>- Chỉ đường đi</p>
						<p>
							- Trước khi dùng chỉ đường ta nên xác định trước điểm đầu và điểm cuối. Để xác định điểm đầu và điểm cuối nhấn giữ vào vị trí đã đánh dấu, sạu đó chọn điểm bắt đầu hoặc điểm kết thúc. Có thể chọn nhiều điểm bắt đầu hoặc kết thúc.
						</p>
						<p>
							- Có các chế độ tìm đường khác nhau cho loại phương tiện đi lại.
						</p>
						<p>
							- Chế "Directions complex" dùng để đánh dấu những khúc cua, nga rẽ.
						</p>
						<p>
							- Có thể kéo thả "chỉ đường" để xác định muốn đi đường nào và khoảng cách bao xa.
						</p>
						<div class="">
							<a class="item item-icon-left" href="#">
								<i class="icon ion-ios-navigate-outline"></i>
							</a>
						</div>
						<p>- Hiển thị bảng hướng dẫn chỉ đường cụ thể</p>
					</div>
				</div>
			</ion-content>
		</ion-tab>

		<ion-tab title="About" >
			<ion-header-bar class="bar-positive bar-positive" align-title="center">
				<button class="button button-icon icon ion-ios-undo-outline" ng-click="main.aboutModal.hide();"></button>
				<h1 class="title">Infomation</h1>
			</ion-header-bar>
			<!-- Tab 2 content -->
			<ion-content >
				<div class="card">
					<div class="item item-divider">Mô tả</div>
					<div class="item item-text-wrap">
						<p>
							- Ứng dụng City Map Guide được thiết kế mới dành cho điện thoại và máy tính bảng Android giúp cho việc điều hướng thế giới của bạn nhanh hơn và dễ dàng hơn. Hãy tìm những vị trí tốt nhất trong thị trấn và thông tin bạn cần để đến đó. Ứng dụng hoạt động dựa trên google map API v3
						</p>
					</div>
				</div>
				<div class="card">
					<div class="item item-divider">Tính năng</div>
					<div class="item item-text-wrap">
						<p>- Bản đồ toàn diện, chính xác tại 220 quốc gia và lãnh thổ</p>
						<p>- Chế độ tìm đường khác nhau cho các phương tiện đi lại.</p>
						<p>- Thông tin chỉ dẫn đường đi chi tiết khi tìm đường.</p>
						<p>
							- Tìm nhanh chính xác một địa chỉ và có gợi ý những địa chỉ liên quan.
						</p>
						<p>
							- Chỉ đường phương tiện và bản đồ cho hơn 15.000 thị trấn và thành phố.
						</p>
						<p>
							- Tình trạng giao thông trực tiếp, báo cáo sự cố và định tuyến lại tự động để tìm tuyến đường tốt nhất.
						</p>
						<p>- Thông tin chi tiết về hơn 100 triệu địa điểm.</p>
						<p>
							- Chế độ xem phố và hình ảnh trong nhà cho các nhà hàng, bảo tàng và các địa điểm khác.
						</p>
					</div>
				</div>
			</ion-content>
		</ion-tab>

	</ion-tabs>
</div>