<div class="modal modal_login0000">
	<ion-header-bar class="bar-assertive" align-title="center">
		<h1 class="title">Login</h1>
		<button class="button button button-icon ion-android-create" ng-click="showSigup()"></button>
	</ion-header-bar>
	<ion-content has-bouncing="true" overflow-scroll="true">
		<p class="p">WELCOME TO</p>
		<p class="p">LEARN VOCABULARY FIBONACCI</p>
		<hr>
		<form name="loginForm" ng-submit="loginSubmit(model)" ng-init="initloginForm(this)">
			<div class="list">
				<label class="item item-input item-floating-label item-icon-right">
					<span class="input-label">Username</span>
					<input style="padding-right:0px;margin-right:44px;" type="text" placeholder="Username" name="username" ng-model="model.username" required maxlength="50"></label>
				<label class="item item-input item-floating-label item-icon-right" ng-if="model.isResetPass != '1'">
					<span class="input-label">Password</span>
					<input style="padding-right:0px;margin-right:44px;" type="password" placeholder="Password" name="password" ng-model="model.password" required maxlength="50"></label>
				<label class="item item-input item-floating-label item-icon-right" ng-if="model.isResetPass == '1'">
					<span class="input-label">Password</span>
					<input style="padding-right:0px;margin-right:44px;" type="password" placeholder="Password" name="password" ng-model="model.password" required maxlength="50" minlength="6" ></label>
				<label class="item item-input item-floating-label item-icon-right" ng-if="model.isResetPass == '1'">
					<span class="input-label">Confirm password</span>
					<input style="padding-right:0px;margin-right:44px;" type="password" placeholder="Confirm password" name="confirmPassword" ng-model="model.confirmPassword" required maxlength="50" minlength="6"></label>
				<div class="item item-floating-label item-checkbox">
					<label class="checkbox">
						<input type="checkbox" ng-model="model.isResetPass" ng-true-value="'1'" ng-false-value="'0'"></label>
					Reset password
				</div>
				<div class="item error_message" ng-messages="loginForm.username.$error" ng-if="(loginForm.username.$touched && loginForm.username.$invalid)">
					<p>
						<span ng-message="required">Username is required</span>
					</p>
				</div>
				<div class="item error_message" ng-messages="loginForm.password.$error" ng-if="(loginForm.password.$touched && loginForm.password.$invalid) && model.isResetPass != '1'">
					<p>
						<span ng-message="required">Password is required</span>
					</p>
				</div>
				<!-- validate reset pass -->
				<div ng-if="model.isResetPass == '1'">
					<div class="item error_message" ng-messages="loginForm.password.$error" ng-if="(loginForm.password.$touched && loginForm.password.$invalid)">
						<p>
							<span ng-message="required">Password is required</span>
							<span ng-message="minlength">Password is too short</span>
						</p>
					</div>
					<div class="item error_message" ng-messages="loginForm.confirmPassword.$error" ng-if="(loginForm.confirmPassword.$touched && loginForm.confirmPassword.$invalid)">
						<p>
							<span ng-message="required">Confirm password is required</span>
							<span ng-message="minlength">Confirm password is too short</span>
						</p>
					</div>
					<div class="item error_message" ng-if="(loginForm.confirmPassword.$touched && model.password != model.confirmPassword)">
						<p>
							<span>Confirm password is not match</span>
						</p>
					</div>
				</div>
			</div>
			<div class="row padding responsive-sm but_func" layout="row">
				<button class="col col-50 md_button button button-small button-assertive button-outline">
					<span ng-if="model.isResetPass != '1'">Login</span>
					<span ng-if="model.isResetPass == '1'">Reset</span>
				</button>
			</div>
		</form>
	</ion-content>
</div>