<ion-view>
	<ion-header-bar class="bar bar-subheader item-input-inset">
		<label class="item-input-wrapper"> <i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search" ng-model = "model.search.$" ng-init="model.search.$ = ''">
			<input type="hidden" ng-model="model.search.name">
			<input type="hidden" ng-model="model.search.nextLearnDate"></label>
		<button class="button button-clear p" ng-click="model.search.$ = ''">{{model.lessonManage.length}}</button>
	</ion-header-bar>
	<ion-content has-bouncing="true" overflow-scroll="true">
		<ion-list class="manageLessons0000">
			<ion-item ng-repeat="item in model.lessonManage = (model.currentClass.lessons | filter:model.search)" class="bouncy-slide-left ">
				<h2>{{item.name}}</h2>
				<p ng-if="item.nextLearnDate != null && item.nextLearnDate != ''">Next date: {{item.nextLearnDate}}</p>
				<ion-option-button class="button icon button-energized" ng-class="{'ion-ios-star-outline':item.state == 0, 'ion-ios-star':item.state == 1, 'ion-ios-star-half':item.state == 2}"></ion-option-button>
				<ion-option-button class="button icon ion-ios-refresh-outline button-positive" ng-click="resetLesson(item)"></ion-option-button>
				<ion-option-button class="button icon ion-edit" ng-click="showPopupRenameLesson(item)"></ion-option-button>
				<ion-option-button class="button icon ion-ios-trash-outline button-assertive" ng-click="selectRemoveLesson(item)"></ion-option-button>
			</ion-item>
			<br>
			<div ng-if="model.currentClass.lessons.length == 0">
				<p class="p">You have no lesson</p>
				<hr></div>
		</ion-list>
	</ion-content>
</ion-view>