<ion-view>
	<ion-content has-bouncing="true" overflow-scroll="true">
		<div class="main0000">
			<h1>FIBONACCI</h1>
			<h1>NUMBES</h1>
			<div class="row responsive-sm">
				<img src="./img/image001.png" class="col col-50 img_fibonacci">
				<ul>
					<li class="number">1</li>
					<li class="ion-arrow-right-a "></li>
					<li class="number">2</li>
					<li class="ion-arrow-right-a "></li>
					<li class="number">3</li>
					<li class="ion-arrow-right-a "></li>
					<li class="number">5</li>
					<li class="ion-arrow-right-a "></li>
					<li class="number">8</li>
					<li class="ion-arrow-right-a "></li>
					<li class="number">13</li>
				</ul>
			</div>
			<hr>
			<p>USE FIBONACCI NUMBERS</p>
			<p>AS A SPECIAL METHOD</p>
			<p>TO LEARN VOCAUBULARY</p>
		</div>
	</ion-content>
</ion-view>