<!DOCTYPE html>
<html ng-cloak ng-app="starter">
<head translate-namespace="HEADER">
    <meta charset="utf-8">
    
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title translate>.LABEL_TITLE</title>

    <!-- <link href="css/ionic.app.css" rel="stylesheet"> -->
    <!-- <link href="css/angular-material.min.css" rel="stylesheet"> -->
    <!-- <link href="css/ionic.filter.bar.min.css" rel="stylesheet"> -->
    <!-- <link href="css/ng-animation.css" rel="stylesheet"></head> -->
    <!-- <link href="lib/nprogress-master/nprogress.css" rel="stylesheet"></head> -->
    <!-- css mini -->
    <link href="css/css.min.css" rel="stylesheet"></head>
<body ng-controller="mainCtrl">
    <ion-side-menus>
        <ion-side-menu-content class="content0000">
            <!-- <ion-header-bar align-title="center" class="bar-assertive">
            <div class="buttons">
                <button class="button button-clear icon ion-navicon" ng-click="toggleLeft()"></button>
            </div>
            <h1 class="title">Learn Vocabulary Fibonaci</h1>
            <div class="buttons">
                <button class="button button-clear icon ion-grid" ng-click="showPopoverMenu($event);"></button>
            </div>
        </ion-header-bar>
        -->
        <ion-nav-bar class="bar-assertive" align-title="center" translate-namespace="HEADER">
            <ion-nav-buttons side="priamry">
                <button class="button button-clear icon ion-navicon" ng-click="toggleLeft();"></button>
            </ion-nav-buttons>
            <ion-nav-title translate>.LABEL_TITLE</ion-nav-title>
            <ion-nav-buttons side="secondary">
                <button class="button button-clear icon ion-grid" ng-click="showPopoverMenu($event);"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view class="include0000"></ion-nav-view>
        <ion-footer-bar align-title="center" class="bar-assertive">
            <div  class="buttons"  ng-if="model.view != '#/main'">
                <button class="button button-clear icon ion-ios-undo-outline" ng-click="back()"></button>
            </div>
            <h1 class="title"></h1>
            <div  ng-if="model.view == '#/wordListLearn'" class="buttons" >
                <button class="button button-clear icon ion-ios-more-outline" ng-click="showActionSheetWordListLearn($event)"></button>
            </div>
            <div  ng-if="model.view == '#/allWordOfClass'" class="buttons" >
                <button class="button button-clear icon ion-ios-download-outline" ng-click="showPopupExport()"></button>
            </div>
        </ion-footer-bar>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="menuLeft0000" ng-include="'./templates/leftSidebar.html'"></ion-side-menu>
</ion-side-menus>
 <!-- <script src="lib/speakingurl.min.js" type="text/javascript" charset="utf-8" ></script> -->

<!-- ionic/angularjs js -->
<!-- <script src="lib/ionic/js/ionic.bundle.js"></script> -->
<!-- <script src="lib/parse-1.6.12.js"></script> -->
 <!-- <script src="lib/jquery.min.js"></script> -->

 <!-- <script src="lib/angular-animate.min.js"></script> -->

 <!-- <script src="lib/underscore.js"></script> -->
 <!-- angular translate -->
 <!-- <script src="lib/angular-cookies.js" type="text/javascript" charset="utf-8" ></script> -->
 <!-- <script src="lib/angular-translate.min.js" type="text/javascript" charset="utf-8" ></script> -->
 <!-- <script src="lib/angular-translate-loader-static-files.min.js" type="text/javascript" charset="utf-8" ></script> -->
 <!-- <script src="lib/angular-translate-storage-cookie.min.js" type="text/javascript" charset="utf-8" ></script> -->
 <!-- <script src="lib/angular-translate-storage-local.min.js" type="text/javascript" charset="utf-8" ></script> -->
 
<!-- process -->
 <!-- <script src="lib/nprogress-master/nprogress.js"></script> -->

 <!-- <script src="lib/angular-messages.js"></script> -->
<!-- CryptoJS -->
 <!-- <script src="lib/CryptoJS/sha3.js"></script> -->
 <!-- filter bar -->
 <!-- <script src="lib/ionic.filter.bar.min.js"></script> -->
 <!-- mini lib file -->
<script src="lib/lib.min.js"></script>
<!-- app mini js -->

<!-- your app's js -->
 <script src="js/app.min.js"></script>
<!-- <script src="js/modules/route.js"></script> -->
<script src="js/module-app.min.js"></script>
<script src="js/modules.min.js"></script>
<script src="js/controller.min.js"></script>
<!-- module -->
 <!-- <script src="js/services/commonModule.js"></script> -->

 <!-- <script src="js/services/dataAccesModule.js"></script> -->
<!-- services -->
 <!-- <script src="js/services/commonModel.js"></script> -->
 <!-- <script src="js/services/commonFunc.js"></script> -->


<!-- controllers -->
 <!-- <script src="js/controllers/addNewWords.js"></script> -->
 <!-- <script src="js/controllers/allWordOfClass.js"></script> -->
 <!-- <script src="js/controllers/classContent.js"></script> -->
 <!-- <script src="js/controllers/createLesson.js"></script> -->
 <!-- <script src="js/controllers/doExercisesNeedList.js"></script> -->
 <!-- <script src="js/controllers/listDoExercises.js"></script> -->
 <!-- <script src="js/controllers/mainLesson.js"></script> -->
 <!-- <script src="js/controllers/manageLessons.js"></script> -->
 <!-- <script src="js/controllers/profile.js"></script> -->
 <!-- <script src="js/controllers/setting.js"></script> -->
 <!-- <script src="js/controllers/wordListLearn.js"></script> -->
 <!-- <script src="js/controllers/wordsNotLearnYet.js"></script> -->

 <!-- <script src="./lib/ngCordova/ng-cordova.min.js" type="text/javascript" charset="utf-8" ></script> -->

<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>
<!-- requireJs -->
<!-- <script src="lib/require.js" data-main="js/requireConfig.js"></script> -->
</body>
</html>